.container {
  padding:30px;
  
}

.editForm {
  display: inline-block
}

a {
  font-family: verdana;
  padding-left: 70px;
  font-size: 18px;
}

.amount {
  color:darkmagenta;
}
.item {
  color:red;

}
.delete {
  text-decoration: none;
  color:blue;
}